In [1]:
import googletrans
from googletrans import Translator
import pandas as pd

In [2]:
from googletrans import Translator
translator = Translator(service_urls=[
      'translate.google.com',
      'translate.google.co.uk',
      'translate.google.nl'
    ])

In [3]:
df = pd.read_csv('dataentries.csv')

In [4]:
df.head()

,id,image_id,origin_id,caption,type,is_translated,created_at,updated_at
0,500,318556,48,A very clean and well decorated empty bathroom,1,0,1/10/2020 0:00,1/10/2020 0:00
1,501,116100,67,A panoramic view of a kitchen and all of its a...,1,0,1/10/2020 0:00,1/10/2020 0:00
2,502,318556,126,A blue and white bathroom with butterfly theme...,1,0,1/10/2020 0:00,1/10/2020 0:00
3,503,116100,148,A panoramic photo of a kitchen and dining room,1,0,1/10/2020 0:00,1/10/2020 0:00
4,504,379340,173,A graffiti-ed stop sign across the street from...,1,0,1/10/2020 0:00,1/10/2020 0:00

In [5]:
df_clear = df.drop(['origin_id', 'type', 'is_translated', 'created_at', 'updated_at'], axis=1)

In [6]:
df_clear = df_clear[:100]

In [7]:
df_clear

     id  image_id                                            caption
0   500    318556     A very clean and well decorated empty bathroom
1   501    116100  A panoramic view of a kitchen and all of its a...
2   502    318556  A blue and white bathroom with butterfly theme...
3   503    116100     A panoramic photo of a kitchen and dining room
4   504    379340  A graffiti-ed stop sign across the street from...
..  ...       ...                                                ...
95  595    389006       A phone and a computer on a kitchen counter.
96  596    124567      A person is taking a photo of a cat in a car.
97  597     38682       a picture of a man riding a bicycle at night
98  598    539984         A large hours is eating grass in a field.
99  599     28231    A blurry bike rider zooms past a new Mercedes.

[100 rows x 3 columns]

In [8]:
result = list()
for item in df_clear['caption'][:100]:
    translations = translator.translate([item], dest='fa')
    for translation in translations:
        result.append(translation.text)
print('Done!')

Done!

In [9]:
result[:5]

['حمام خالی بسیار تمیز و به خوبی تزئین شده',
 'یک نمای پانوراما از یک آشپزخانه و لوازم آن است.',
 'حمام آبی و سفید با پروانه کاشی دیوار مضمون.',
 'یک عکس پانورامایی از یک اتاق آشپزخانه و ناهار خوری',
 'علامت توقف گرافیتی اد سراسر خیابان را از یک ماشین قرمز']

In [10]:
df_clear.head()

    id  image_id                                            caption
0  500    318556     A very clean and well decorated empty bathroom
1  501    116100  A panoramic view of a kitchen and all of its a...
2  502    318556  A blue and white bathroom with butterfly theme...
3  503    116100     A panoramic photo of a kitchen and dining room
4  504    379340  A graffiti-ed stop sign across the street from...

In [11]:
df_clear.insert(3, "Translate", result)

In [12]:
df_clear

,id,image_id,caption,Translate
0,500,318556,A very clean and well decorated empty bathroom,حمام خالی بسیار تمیز و به خوبی تزئین شده
1,501,116100,A panoramic view of a kitchen and all of its a...,یک نمای پانوراما از یک آشپزخانه و لوازم آن است.
2,502,318556,A blue and white bathroom with butterfly theme...,حمام آبی و سفید با پروانه کاشی دیوار مضمون.
3,503,116100,A panoramic photo of a kitchen and dining room,یک عکس پانورامایی از یک اتاق آشپزخانه و ناهار ...
4,504,379340,A graffiti-ed stop sign across the street from...,علامت توقف گرافیتی اد سراسر خیابان را از یک ما...
...,...,...,...,...
95,595,389006,A phone and a computer on a kitchen counter.,یک تلفن و یک کامپیوتر در یک آشپزخانه.
96,596,124567,A person is taking a photo of a cat in a car.,فردی گرفتن یک عکس از یک گربه در یک ماشین.
97,597,38682,a picture of a man riding a bicycle at night,یک عکس از یک مرد سوار بر یک دوچرخه در شب
98,598,539984,A large hours is eating grass in a field.,ساعت بزرگ در حال خوردن علف در یک میدان.
99,599,28231,A blurry bike rider zooms past a new Mercedes.,تار زوم دوچرخه سوار گذشته یک خودروی مرسدس بنز ...

In [13]:
df_clear.to_csv(r'out_of_res\result.csv',encoding='utf-8-sig')